html{
    background-color: navy;
    height: 100%;
    border: 10px double white;
    color:white;

} 
header #logo {
    background-image: url('../images/pokemon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 250px;
    margin: 0px auto;
}