    html,
    body {
        background-color: navy;
        height: 100%;
    }

    html {
        border: 10px double white;
    }

    header #logo {
        background-image: url('../images/pokemon.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 300px;
        height: 250px;
        margin: 0px auto;
    }

    header {
        height: 30%;
    }

    #conf_board {
        height: 60%;
        width: 40%;
        margin: 0 auto;
        margin-top: 30px;
    }

    #conf_form {
        background: white;
        align-items: center;
        display: none;
    }

    #warning {
        color: red;
        font-weight: bold;
    }


    button {
        width: 100%;
        height: 60px;
        border: 1px solid #000;
        border-radius: 3px;
        background: #1E90FF;
        cursor: pointer;
        outline: none;
        font-family: Microsoft YaHei;
        color: white;
        font-size: 17px;
        display: block;
        /*float: left;*/
    }



    button:hover {
        background: #5599FF;
    }