body {
    background: #00AAFFFF;
    text-align: center;
}

#pokego {
    font: 700 100px "Comic Sans MS";
    color: white;
    text-shadow: 0 0 20px #fdec84,
    10px -10px 30px #ffae35,
    20px -20px 40px #ec760c,
    -20px -60px 50px #cd4607,
    0px -80px 60px #973717,
    10px -40px 70px #451b0e;
}

#form_div {
    margin: 0 auto;
}

.log_input {
    margin: 10px 1px;
}

label {
    font-size: large;
    background: #55FFFFFF
}